<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sharkweb.fbv">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.parse.push.gcm_sender_id"
        android:value="id:YOUR_SENDER_ID" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_ball"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TeamActivity"
            android:label="Selecione um Time" />
        <activity
            android:name=".CadastroTimeActivity"
            android:label="Cadastro do time">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeDetalheActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="Cadastro de usuario" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NewMainActivity" />

        <activity
            android:name=".TimeDetalheActivity"
            android:label="Time">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity" />
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:label="Calendario do Time">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity" />
        </activity>
        <activity
            android:name=".CadastroJogoActivity"
            android:label="Jogo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarioActivity" />
        </activity>
        <activity
            android:name=".UsuariosActivity"
            android:label="Selecione um usuario" />
        <activity
            android:name=".LocalActivity"
            android:label="@string/title_activity_local" />
        <activity
            android:name=".CadastroLocalActivity"
            android:label="Local">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocalActivity" />
        </activity>
        <activity
            android:name=".PosJogoActivity"
            android:label="@string/title_activity_pos_jogo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastroJogoActivity" />
        </activity>
        <activity
            android:name=".FinanceiroActivity"
            android:label="Financeiro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity" />
        </activity>
        <activity
            android:name=".MovimentosActivity"
            android:label="Histórico de Movimentos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity" />
        </activity>
        <activity
            android:name=".MensalidadesActivity"
            android:label="Mensalidades">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity" />
        </activity>
        <activity
            android:name=".NewMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".BuscaTimesActivity"
            android:label="@string/title_activity_busca_times"></activity>
    </application>

</manifest>
