<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sharkweb.fbv" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ball"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamActivity"
            android:label="Selecione um Time" />
        <activity
            android:name=".CadastroTimeActivity"
            android:label="Cadastro do time" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="Cadastro de usuario" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        <activity
            android:name=".TimeDetalheActivity"
            android:label="Time" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:label="Calendario do Time" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CadastroJogoActivity"
            android:label="Jogo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarioActivity" />
        </activity>
    </application>

</manifest>
